body {
  background: white;
  font-family: arial;
}

p {
  font-size: 18px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 150px;
  margin: 20px;
}